
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.0/jquery.fancybox.css">


    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.0/jquery.fancybox.js"></script>

</head>

<body>
<div class="ajaxbg">
    <div class="ajaxinner">
        <h3>You are now being redirected to Paypal...</h3>
        <img src="/images/ajax-loader.gif" alt="">
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Mai Tung CMS Shopping Cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <% pages.forEach(function (page) {   %>
            <% if(page.slug == "home") { %>
            <li><a class="nav-link" href="/"><%= page.title %></a></li>
            <% } else { %>
            <li><a class="nav-link" href="/<%= page.slug %>"><%= page.title %></a></li>
            <% } %>
            <% }); %>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li>
                <a class="nav-link" href="/products/cart/checkout">My Cart (
                    <% if (typeof cart !== "undefined") { %>
                    <%= cart.length %>
                    <% } else { %>
                    0
                    <% } %>
                    )
                </a>
            </li>
            <% if(user) { %>
            <li><a class="nav-link" href="/users/logout">Hi, <%= user.username %> ( logout )</a></li>
            <% } else { %>
            <li><a class="nav-link" href="/users/register">Register</a></li>
            <li><a class="nav-link" href="/users/login">Login</a></li>
            <% } %>
            <% if(user && user.admin == 1) { %>
            <li><a class="nav-link" href="/admin/pages">Admin Area</a></li>
            <% } %>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
            <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
    </div>
</nav>

<main role="main" class="container top">

    <div class="starter-template">
        <%- messages('messages', locals) %>
        <% if(errors){ %>
        <% errors.forEach(function (error) {   %>
        <div class="alert alert-danger">
            <%= error.msg %>
        </div>
        <% }); %>
        <% } %>

        <div class="row">
            <div class="col-xs-12 col-md-3">
                <h3>Categories</h3>
                <ul class="list-group">
                    <li class="list-group-item"><a href="/products/all">All Products</a></li>
                    <% categories.forEach(function (c) { %>
                        <li class="list-group-item"><a href="/products/all/<%= c.slug %>"><%= c.title %></a></li>
                    <%  }); %>
                </ul>
            </div>
        

